::selection {
    background-color: inherit;
    color: inherit;
}

body {
    min-height: 100vh;
}

li {
    list-style: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#page-container {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdowns {
    display: flex;
    gap: 2rem;
}