<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>[Nombre de tu web]</title>
    <link rel="stylesheet" href="./index.css">
</head>

<body>
    <div id="page-container">
        <div id="top-navbar"></div>
        <div id="main-container">
            <div id="side-menu"></div>
            <div id="main-page-content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, officia? Ea quaerat repellat sed,
                voluptates consequuntur voluptatibus reiciendis labore adipisci obcaecati autem dignissimos porro
                exercitationem, veniam, illum commodi voluptatem nam!
            </div>
        </div>
    </div>
</body>

</html>